<meta content="skinship" property="og:site_name">
{% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
{% else %}
    <meta content="{{ site.title }}" property="og:title">
{% endif %}

{% if page.title %}
    <meta content="article" property="og:type">
{% else %}
    <meta content="website" property="og:type">
{% endif %}

{% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
{% endif %}

{% if page.url %}
    <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

<meta content="{{ site.url }}/img/embed_icon.png" property="og:image">
<title>{{ page.title }}</title>