{% comment %}
This component is used to list pages, both internal and external.
They should be used within page-listing-grid only, but they *should* work anywhere.

props:
entry: this element holds all the data for this element. These usually are pages, but any object with all fields will function (which is used for e.g. external resources)
entry.url: link of the entry
entry.yt_id?: youtube version of this resource
entry.listing_title? | entry.title: title used, listing_title has the higher priority and is used to override cases where the title of this element should be different from the tab title
entry.description: description
entry.image?: image, if not present a default-cover will be used 
modifier?: optional class modifier 

{% endcomment %}
{% assign image_link = "/assets/img/" %}

{% if include.entry.image %}
    {% assign image_link = image_link | append: "covers/" | append: include.entry.image %}
{% else %}
    {% assign image_link = image_link | append: "default-cover.webp" %}
{% endif %}

<div class="page-listing-item {% if include.modifier%}page-listing-item--{{ include.modifier }}{% endif %}">
    <div class="page-listing-item__content">
        <img class="page-listing-item__cover" src="{{ image_link }}" alt=""/>
        <span class="page-listing-item__title">
            {% if include.entry.listing_title %}
                {{ include.entry.listing_title }}
            {% else %}
                {{ include.entry.title }}
            {% endif %}
        </span>
        <span class="page-listing-item__description">{{ include.entry.description }}</span>
    </div>

    <div class="page-listing-item__background-icons">
        {% if include.entry.yt_id %}
            <a class="page-listing-item__icon-button" href="https://www.youtube.com/watch?v={{ include.entry.yt_id }}">{% include icons/video-play.svg %}</a>
        {% endif %}
        <a href="{{ include.entry.url }}" class="page-listing-item__icon-button">
            {% if include.entry.url contains "://" %}
                {% include icons/link-external.svg %}
            {% else %}
                {% include icons/arrow-right.svg %}
            {% endif %}
        </a>
    </div>
    
    <a href="{{ include.entry.url }}" class="page-listing-item__link"></a>
</div>
