<div class="staff-listing">
    <div class="staff-listing__legend">
        <span class="staff-listing__legend-entry">{% include icons/phosphor/calendar.svg %} Contest Planning</span>
        <span class="staff-listing__legend-entry">{% include icons/phosphor/youtube.svg %} Video Production</span>
        <span class="staff-listing__legend-entry">{% include icons/phosphor/brush.svg %} Graphic Design</span>
    </div>
    <ul class="staff-listing__grid">
        {% for staff in site.data.staff %}
            <li class="staff-item">
                <img class="staff-item__avatar" src="https://a.ppy.sh/{{ staff.id }}">
                <div class="staff-item__description">
                    <a class="staff-item__username" href="https://osu.ppy.sh/users/{{ staff.id }}">{{ staff.name }}</a>
                    <div class="staff-item__roles">
                        {%if staff.roles.other %}
                            <span class="staff-item__other-roles">{{ staff.roles.other | join: ", " }}</span>
                        {% endif %}
                        {% if staff.roles.contest == true %}
                            {% include icons/phosphor/calendar.svg %}
                        {% endif %}
                        {% if staff.roles.youtube == true %}
                            {% include icons/phosphor/youtube.svg %}
                        {% endif %}
                        {% if staff.roles.graphics == true %}
                            {% include icons/phosphor/brush.svg %}
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>