---
layout: master
description: main site of skinship
title: skinship | Home
highlight: home
---

<div class="homepage">
    <div class="homepage-entry__welcome">
        <h1>Welcome</h1>
        <div class="section">
            <p>
                This site is a collection of information related to osu! skinning and is maintained by the skinship staff. The navigation bar at the top should lead you to everything you could want. If you need any additional help with anything skinning related, feel free to ask on the <a href="https://osu.ppy.sh/community/forums/15">skinning forums</a> or join our <a href="https://discord.skinship.xyz/">Discord server</a>.
            </p>
            <p>
                If you...
                <ul>
                    <li>...find any bugs with the website</li>
                    <li>...find any mistakes in the website's content</li>
                    <li>...have an idea for a new tool or guide</li>
                    <li>...have an idea on how to improve any of the existing content</li>
                </ul>

                Feel free to contact us via the <a href="https://osu.ppy.sh/users/32231941">skinship osu account</a> by sending a
                <a href="https://osu.ppy.sh/home/messages/users/32231941">chat message</a>, open <a href="https://gitlab.com/skinship/skinninginfo/-/issues">an issue</a> on GitLab or join our <a href="https://discord.skinship.xyz">Discord server</a> and follow the instructions in <a href="https://discord.com/channels/591469672747106304/1097920580465987634">#contact-the-staff</a>. Anyone is free to contribute to this page, but we recommend to contact us beforehand to ensure we aren't working on the same thing simultaneously.
            </p>
        </div>

        {% include ship.html %}
    </div>

    <div class="homepage-entry__staff">
        <h1>skinship Staff</h1>

        {% include staff-grid.html %}
    </div>

    <div class="homepage-entry__changelog">
        <h1>Latest Updates</h1>
        <p>You can find the 10 latest major changes to this site below:</p>
        <table>
            <tbody>
                {% for entry in site.data.changelog.entries %} {% if forloop.index >= 10 %} {% break %} {% endif %}
                <tr>
                    <td class="date">{{ entry.date }}</td>
                    <td class="type">{{ site.data.changelog.types[entry.type] }}</td>
                    <td class="title"><a href="{{entry.url}}">{{ entry.title }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
