.ship {
    width: 128px;
    height: 128px;
    position: relative;
    margin-left: 16px;
}

.scene {
    width: 100%;
    height: 100%;
    clip-path: circle(50%);
    transform: rotate(13deg);
}

.homepage-entry__welcome {
    display: grid;
    grid-template-areas: 
    "header header"
    "text ship";
    h1 {
        grid-area: header;
    }
    .section {
        grid-area: text;
    }
    .ship {
        grid-area: ship;
    }
}

@media(max-width: 700px) {
    .homepage-entry__welcome {
        display: flex;
        flex-direction: column;
    }
    .ship {
        display: none;
    }
}
