.staff-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    .icon {
        width: 20px;
        height: 20px;
        &.youtube {
            color: #ff0000;
        }
        &.calendar {
            color: $accent-blue;
        }
        &.brush {
            color: $accent-yellow;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        padding-left: 0;
        width: 100%;
        margin: 0; // overwriting ul margin
        .staff-item {
            display: flex;
            gap: 12px;
            align-items: center;
            height: max-content;
            margin: 0;
            &__avatar {
                width: 64px;
                height: 64px;
                border-radius: 8px;
                background-color: $primary-80;
                margin: 0;
                outline: $divider 2px solid;
            }
            &__description {
                display: flex;
                flex-direction: column;
                gap: 4px;
            }
            &__username {
                width: max-content;
            }
            &__roles {
                display: flex;
                align-items: center;
                gap: 3px;
            }
        }
    }
    &__legend {
        display: flex;
        gap: 32px;
        color: $text-colour-muted;
        &-entry {
            display: flex;
            gap: 4px;
            align-items: center;
        }
    }
}

@media (max-width: 550px) {
    .staff-listing__grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
}
