.sidenav {
    $border: 2px solid scale-color($primary, $lightness: 5%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-sidenav;

    height: 100vh;
    width: var(--sidenav-width);
    padding: 16px;

    background-color: scale-color($primary, $lightness: -10%);
    border-right: $border;

    transition: linear 200ms left;

    &__toggle {
        position: absolute;
        top: 10vh;
        left: 100%;

        display: none;
        padding: 4px;

        cursor: pointer;
        border-radius: 0 4px 4px 0;
        background-color: inherit;
        border-right: $border;
        border-top: $border;
        border-bottom: $border;
        // background: $primary;
        .icon {
            width: 24px;
            height: 24px;
            transition: linear rotate 300ms;
        }
    }
}

// content width + 2* sidenav width
// + a little bit to make the breakoff point not touch the content (and also deal with the page scrollbar counting for width
@media (max-width: calc(1320px + 200px * 2 + 32px)) {
    .sidenav {
        left: calc(-1 * var(--sidenav-width));
        &--extended {
            left: 0;
            .sidenav__toggle .icon {
                rotate: 180deg;
            }
        }
        .sidenav__toggle {
            display: flex;
        }
    }
}
