.homepage {
    display: grid;
    width: 100%;
    gap: 16px;
    grid-template-areas: "welcome welcome" "staff changelog";
    grid-template-columns: 1fr 1fr;
    &-entry {
        &__staff {
            grid-area: staff;
        }
        &__changelog {
            grid-area: changelog;
        }
        &__welcome {
            grid-area: welcome;
        }
    }

    table {
        width: 100%;
        td {
            &.date {
                color: $text-colour-muted;
                font-variant-numeric: tabular-nums;
                &--2,
                &--3 {
                    &::before {
                        content: "-";
                    }
                }
            }

            &.title {
                width: 100%;
            }
        }
        th {
            font-size: 10px;
        }
        td,
        th {
            &.date {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 960px) {
    .homepage {
        grid-template-areas: "welcome" "staff" "changelog";
        grid-template-columns: 1fr;
    }
}
