---
layout: master
body_class: tutorial_sidenav
---
<nav class="sidenav">
    {% include page-listing-grid--tutorial.html modifier="sidenav" %}

    <div class="sidenav__toggle">
        {% include icons/chevron-double-right.svg %}
    </div>
</nav>


<script>
	document.querySelector(".sidenav__toggle").addEventListener("click", () => {
		document.querySelector(".sidenav").classList.toggle("sidenav--extended");
	});
</script>

{{ content }}
