---
layout: master
highlight: resources
description: skin.ini template
title: Resources | skin.ini Template
---

<p>Below you can find an example skin.ini that contains all skin.ini commands with their default values. Commands that are commented out are not used by the game by default.</p>


<a download href="/resources/skin-ini/skin.ini" class="download-button">{% include icons/download.svg %}Download</a>

<br>

<embed src="/resources/skin-ini/skin.ini" type="text/plain">
