.bbcode-element-wrapper {
    display: flex;
    position: relative;

    margin: 8px 0;
    padding: 4px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: $radius;

    $element-offset: 8px;
    $button-size: 20px;
    &:hover > .bbcode-element-wrapper__settings-button {
        opacity: 1;
    }

    &__label {
        top: -8px;
        position: absolute;
        font-size: 10px;
        color: $text-colour-muted;
        left: 4px;
    }

    &__settings-button {
        opacity: 0;
        position: absolute;
        top: $element-offset;
        left: $element-offset;
        z-index: 2;

        border-radius: 3px;
        cursor: pointer;
        transition: ease all 200ms;
        background: lighten($primary, 5%);
        color: $text-colour-muted;

        width: $button-size;
        height: $button-size;
        padding: 2px;

        &:hover {
            background: lighten($primary, 10%);
            color: $text-colour;
        }
        svg {
            width: 100% !important;
            height: 100% !important;
        }
    }

    &__settings-popup {
        position: absolute;
        top: $element-offset;
        left: calc(2 * $element-offset + $button-size);
        z-index: 3;

        background: $primary;
        box-shadow: $shadow;

        padding: 8px;
        gap: 8px;
        flex-direction: column;
        display: none;
        &.visible {
            display: flex;
        }
        select {
            padding-right: 32px; // apaprently our default select style does not push out the icon as selects usually are wider than their content...
        }
        &-button {
            margin: 0;
            padding: 4px;
            &--delete {
                background: $invalid;
                &:hover {
                    background: lighten($color: $invalid, $amount: 7%);
                    outline: 1px solid $accent_blue;
                }
            }
        }
    }
}
