.download-button {
    display: flex;
    align-items: center;

    padding: 8px;
    gap: 4px;
    border-radius: $radius;

    background: $button-gradient;
    color: $text-colour;
    transition: ease all 200ms;
    .icon {
        width: 16px;
        height: 16px;
    }
    &:hover {
        background: $button-gradient-hover;
    }
}
