.image-map-editor {
    position: relative;
    display: flex;
    width: max-content;
    max-width: 100%;

    &__image {
        margin: 0;
    }
    &__area {
        --border-width: 2px;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        border: dashed var(--border-width) $accent_yellow;
        width: var(--area-width);
        height: var(--area-height);
        transform-origin: 0 0;
        top: var(--area-y);
        left: var(--area-x);
        min-width: 32px;
        min-height: 32px;
        resize: both;
        overflow: hidden;

        max-width: calc(100% - var(--area-x));
        max-height: calc(100% - var(--area-y));

        transition: ease background 200ms;

        &:focus,
        &:focus-within,
        &:focus-visible {
            outline: none;
            box-shadow: 0 0 4px $accent-yellow;
        }

        &-wrapper {
            width: calc(100% + 2 * var(--border-width));
            height: calc(100% + 2 * var(--border-width));
            position: relative;
            top: calc(-2 * var(--border-width));
            left: calc(-1 * var(--border-width));
        }

        &-dragable-area {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }

        &-resize-handle {
            position: absolute;
            right: -7px;
            bottom: -2px; //hardcoded values from testing
            rotate: -45deg;
            cursor: se-resize;

            width: 0;
            height: 0;
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            border-top: 14px solid #ffc85c;
        }

        &-settings-button {
            z-index: 2;
            position: absolute;
            left: var(--border-width);
            top: calc(2 * var(--border-width));

            border-radius: 3px;
            padding: 2px;
            background: lighten($primary, 5%);
            margin: 2px;
            display: flex;
            color: $text-colour-muted;
            cursor: pointer;
            transition: ease all 200ms;
            width: 24px;
            height: 24px;
            svg {
                width: 100% !important;
                height: 100% !important;
            }
            &:hover {
                background: lighten($primary, 10%);
                color: $text-colour;
            }
        }

        &:hover {
            background: rgba(20, 20, 20, 0.5);
            border-color: lighten($accent_yellow, 5%);
        }

        &.placement-finished {
            cursor: move;
        }

        &-form {
            top: var(--area-y);
            left: calc(var(--area-x) + 28px);
            // width: var(--area-width);
            // height: var(--area-height);
            position: absolute;
            margin: 2px;
            display: none;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 4px;
            padding: 8px;
            border-radius: $radius;
            background: $primary;
            max-width: 250px;
            min-width: 50px;
            min-height: auto;
            z-index: 3;

            label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 4px;
                font-size: 10px !important;
            }
            &.visible {
                display: flex;
            }
            & > input[type="text"] {
                font-size: 10px;
            }
            &-button {
                margin: 0;
                padding: 4px;
                &--delete {
                    background: $invalid;
                    &:hover {
                        background: lighten($color: $invalid, $amount: 7%);
                        outline: 1px solid $accent_blue;
                    }
                }
                &--width {
                }
                &--height {
                }
            }
        }
    }
}
