.bbcode-list-editor {
    width: 100%;
    padding-left: 40px;

    display: flex;
    flex-direction: column;
    gap: 2px;
    &__button-area {
        display: flex;
        gap: 4px;
        button {
            padding: 4px;
            margin: 0;
        }
    }
    // disable margin for child elements and let this component handle it
    .bbcode-element-wrapper {
        margin: 0;
    }
}
