@mixin absolute-fullcover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-listing-item {
    $root: &;
    $content-area-padding: 8px;
    --icon-area-width: 30px;

    display: flex;
    width: 100%;
    position: relative;
    border-radius: 4px;
    box-shadow: $shadow;
    border-radius: 4px;
    overflow: hidden;
    user-select: none;
    background-color: #1a2c39;

    &:hover {
        #{$root}__content,
        #{$root}__link {
            width: calc(100% - var(--icon-area-width));
        }
        #{$root}__background-icons {
            width: var(--icon-area-width);
        }
    }

    &__content {
        // there can be no padding on this element since the image is supposed
        // to touch the border. padding is on the children
        display: grid;
        width: 100%;
        grid-template-areas: "cover title" "cover description";
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr;
        background-color: $primary;
        justify-content: start;
        gap: 8px 16px;

        border-radius: inherit;
        transition: width 100ms linear;
    }

    &__title {
        grid-area: title;
        color: $accent-blue;
        font-size: 16px;
        font-weight: 700;
        margin: $content-area-padding $content-area-padding 0 0;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        // TODO: elipsis not workign
    }

    &__description {
        grid-area: description;
        color: $text-colour-muted;
        font-size: 14px;
        font-weight: 600;
        margin: 0 $content-area-padding $content-area-padding 0;
    }

    &__cover {
        --cover-size: 80px;
        grid-area: cover;
        margin: 0;
        width: var(--cover-size);
        height: var(--cover-size);
        object-fit: cover;
        border-radius: inherit;
        background-color: #1a2c39;
    }

    &__content-details {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
    }

    &__background-icons {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        height: 100%;
        align-items: center;
        justify-content: center;
        width: 0;
        transition: width 100ms linear;
    }

    &__icon-button {
        width: 100%;
        height: 100%;
        min-height: 24px; // icon-size + whatever padding is wanted
        display: flex;
        align-items: center;
        justify-content: center;
        transition: ease color 200ms;
        svg {
            width: 16px;
            height: 16px;
        }
        &:hover {
            color: #7de0ff;
        }
    }

    &__link {
        @include absolute-fullcover;
        z-index: 1;
    }

    // overwrites for tutorial sidenav
    &--sidenav {
        min-height: 48px; // 2 * icon button. they are position absolute so they cant just force the container..
        font-size: 12px;
        #{$root}__content {
            grid-template-areas: "title";
            grid-template-rows: 1fr;
            padding-left: $content-area-padding;
            align-items: center;
        }
        #{$root}__title {
            margin: 0;
            white-space: normal;
        }
        #{$root}__cover,
        #{$root}__description {
            display: none;
        }
    }
}
